<footer class="page-footer font-sma pt-4" style="background-color: #8fc0a9
">
    <div class="container">       
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <div class="col mt-2"><p class="text-black fs">Água Limpa</p>
                    <p class="text-black fs">00.000.000/0001-00</p>
                </div>
                
                <ul class="social-network mt-2">
                    <li>
                        <a href="https://www.linkedin.com/school/generationbrasil/
                        " target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/generationbrasil/
                        " target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/jessikaneves/Projeto_Integrador_FrontEnd" target="_blank" class="icoGithub">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3" style="background-color: #02394A

    ">
        <span class="text-light">© 2022 Copyright: </span>
        <a class="text-light" target="_blank" href="">brasil.generation.org</a>
    </div>
</footer>
