<div class="container-fluid">

    <div class="row d-flex align-items-center">
        <div class="col-md-12">

            <div class="row d-flex justify-content-center">
                <div class="col-md-12 text-white">
                    <img class="banner ml-4 mt-5" src="https://i.imgur.com/GXD62Q7.png" alt="">
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="row d-flex justify-content-center mt-5 mb-5">
                <button routerLink="/entrar" class="btn btn-info mr-5" data-toggle="modal" data-target="#novoProduto">Entrar</button>
                <button routerLink="/cadastrar" class="btn btn-info" data-toggle="modal" data-target="#novoProduto">Cadastrar-se</button>
            </div>
        </div>
    </div>

</div>
<div class="container">


    <div class="row">

        <div class="col-md-6 mt-5 mb-5" id="projeto">

            <h2 class="text-info">Água Limpa</h2>

            <p class="paragrafo"> Uma em cada três pessoas no
                mundo não tem acesso a água potável. Quase 35 milhões de pessoas no Brasil vivem sem água tratada e
                cerca de 100 milhões não têm acesso à coleta de esgoto, resultando em doenças que poderiam ser evitadas,
                e que podem levar à morte por contaminação.
                
                O projeto Água Limpa é um e-commerce que tem por objetivo a venda de filtros, e acessórios e utensílios fabricados de forma sustentável. Os filtros comercializados, após a compra são doados a famílias que não tem acesso à água tratada, e o lucro proveniente da venda dos acessórios e utensílios é destinado à doação de mais filtros e realização de obras para as comunidades que sofrem com a falta de saneamento básico. 
            </p>
        </div>

        <div class="col-md-6 mt-5">
            <img src="https://i.imgur.com/iTIoUk7.png" alt="" weight="550px" height="536px">
        </div>
    </div>
    <footer class="page-footer font-sma bg-light pt-4">
        <div class="container">       
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    
                    <ul class="social-network">
                        <li>
                            <a href="https://www.linkedin.com/school/generationbrasil/
                            " target="_blank" class="icoLinkedin">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
    
                        <li>
                            <a href="https://www.instagram.com/generationbrasil/
                            " target="_blank" class="icoInstagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
    
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>  